.main {
  padding: 36px;
  margin-top: 0;
  background-image: url("/images/clientPage.avif");
  background-size: cover;
  background-position: center;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.6);
}

.introContainer {
  z-index: 1;
  text-align: center;
  max-width: 800px;
  padding: 20px;
}

.introHeading {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.introSubHeading {
  font-size: 1.2rem;
  color: #f0f0f0;
  margin-bottom: 30px;
}

.clientsSection {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
}
.subHeading {
  color: #4a4a4a;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 20px;
}

.description {
  color: #666;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto 40px;
}

.clientsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Adjust based on the desired width */
  gap: 15px; /* Add spacing between the cards */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px; /* Limit the grid width */
}

.clientCard {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  height: 100%; /* Match the height for consistency */
}

.clientCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.clientLogo {
  max-width: 80%;
  height: auto;
  object-fit: contain;
}

/* Custom diamond pattern layout */
.clientsGrid > :nth-child(1) {
  grid-column: 2; /* Start from the 2nd column */
  grid-row: 1; /* First row */
}

.clientsGrid > :nth-child(2) {
  grid-column: 1; /* First column */
  grid-row: 2;
}

.clientsGrid > :nth-child(3) {
  grid-column: 3; /* Third column */
  grid-row: 2;
}

.clientsGrid > :nth-child(4) {
  grid-column: 2;
  grid-row: 3;
}

.clientsGrid > :nth-child(5) {
  grid-column: 4;
  grid-row: 3;
}

.clientsGrid > :nth-child(6) {
  grid-column: 3;
  grid-row: 4;
}

@media screen and (max-width: 768px) {
  .clientsGrid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 8px;
  }
}

/* Add more placements as needed for additional items */
