.projectSlider {
  width: 420px;
  height: 440px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  overflow: hidden;
  margin-right: 20px;
  border: 1px solid transparent;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.projectSlider:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.projectName {
  font-size: 24px;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: black;
}

.projectTitle {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  color: rgb(68, 68, 68);
  line-height: 20px;
  margin-left: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.projectDetails {
  margin-top: 16px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .projectSlider {
    width: 300px;
    height: 420px;
  }

  .projectName {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .projectSlider {
    width: 270px;
  }
}

.projectDetaillsSections {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.projectDetaillsSectionsIcon {
  flex-shrink: 0;
  margin-right: 6px;
}
