.carousel {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.carouselImage {
  margin-top: 75px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  margin-top: -0px;
}
.carouselImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  z-index: 1;
}

.prevButton {
  left: 20px;
}

.nextButton {
  right: 40px;
}

@media (max-width: 768px) {
  .carousel {
    height: 60vh;
  }
  .carouselImage {
    margin-top: -55px;
  }
  .prevButton,
  .nextButton {
    font-size: 1.5rem;
    padding: 0.3rem 0.8rem;
  }
}

@media (max-width: 1024px) {
  .carouselImage {
    margin-top: -210px;
    background-size: contain;
  }
  .carouselImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .prevButton,
  .nextButton {
    position: absolute;
    top: 30%;
  }
}

@media (max-width: 480px) {
  .carousel {
    height: 40vh;
  }
  .carouselImage {
    background-size: contain;

    margin-top: -62px;
  }

  .carouselImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: transparent;
    z-index: -1;
  }
  .prevButton,
  .nextButton {
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    top: 40%;
  }

  .nextButton {
    right: 20px;
  }
}
