.featureCard {
  display: flex;
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 350px;
  padding: 16px;
  transition: transform 0.3s ease;
}

.featureCard:hover {
  transform: translateY(-10px);
}

.featureDiv {
  display: flex;
  flex-direction: column;
}
.featureImage {
  margin-right: 15px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #333;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.description {
  color: #777;
  font-size: 14px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid rgb(100, 100, 100);
  background-color: white;
  position: absolute;
  top: 12px;
  right: 12px;
  height: 24px;
  width: 24px;
  font-size: 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.featureCard:hover .info {
  opacity: 0.8;
}

.featuresDetails {
  position: relative;
  background-color: white;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 32px 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  bottom: 0;
  z-index: 4;
}
@media (max-width: 400px) {
  .featureCard {
    width: 100%;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .featuresDetails {
    max-width: 726px;
    padding-bottom: 32px;
    border-radius: 20px;
    bottom: auto;
  }
}

.featuresTitle {
  font-size: 20px !important;
  font-weight: bold !important;
  margin-bottom: 10px !important;
}

.featuresDescription {
  font-size: 17px !important;
}

.featureModalImage {
  height: 300px;
  width: 350px;
  margin-bottom: 24px;
}

.featureClose {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  background-color: white;
  position: absolute;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 4px;
}
@media (max-width: 460px) {
  .featureModalImage {
    height: 220px;
    width: 350px;
    margin-bottom: 24px;
  }
}
