.getInTouch {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/contact2.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.getInTouch::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1.1fr 0.8fr;
  gap: 16px;
  z-index: 1;
  padding: 36px;
}

.leftSection {
  display: flex;
  flex-direction: column;
}

.rightSection {
  display: flex;
  justify-content: center;
}

.iinfo {
  text-align: left;
  width: 100%;
  padding: 1.2rem;
}

.infoWindow {
  display: flex;
  flex-direction: column;
  border-left: 8px solid white;
  padding: 24px;
  background: rgba(0, 0, 0, 0.4);
}

.title {
  color: white;
  font-size: 36px;
  letter-spacing: 0.5px;
  margin-bottom: 1.2rem;
}

.subTitle {
  color: rgb(253, 186, 116);
  font-size: 24px;
  margin-bottom: 0.4rem;
}

.description {
  color: white;
  font-size: 16px;
  font-weight: 300;
}

.formBox {
  backdrop-filter: blur(10px);
  max-width: 450px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 32px;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.formTitle {
  font-weight: bold;
  margin-bottom: 16px;
  color: white;
}

.inputField {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid white;
  border-radius: 4px;
  background: transparent;
  color: whitesmoke;
}

.inputField:focus {
  outline: none;
  border-color: white;
}

.submitButton {
  padding: 12px;
  background: transparent;
  border: 1px solid rgb(212, 168, 99);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: rgb(182, 168, 99);
}

@media (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
  .infoWindow {
    padding: 16px;
  }
  .title {
    font-size: 28px;
  }
}

@media (max-width: 760px) {
  .info {
    padding: 16px;
  }
  .description {
    display: none;
  }
  .subTitle {
    font-size: 16px;
  }
  .title {
    font-size: 24px;
  }
  .gridContainer {
    padding: 16px;
  }
}
