.container {
  text-align: center;
  margin-top: 2em;
  position: relative;
}

.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.social {
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 2.5em;
  color: #555;
  margin-top: 1.5em;
}

.icon {
  color: inherit;
  cursor: pointer;
  position: absolute;
  transition: color 300ms ease, transform 300ms ease;
  opacity: 0;
}

.icon:hover {
  transform: translateY(-3px);
}

/* Individual colors for each icon on hover */
.fab.fa-twitter:hover {
  color: #77ddf6;
}
.fab.fa-github:hover {
  color: black;
}
.fab.fa-linkedin:hover {
  color: #0177b5;
}
.fab.fa-code:hover {
  color: #29a329;
}
.fab.fa-stack-overflow:hover {
  color: #ed780e;
}
.fab.fa-google-plus:hover {
  color: #d43402;
}
.fab.fa-envelope:hover {
  color: #f7b401;
}
